<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <title>FoodShades</title>
    <link rel="stylesheet" href="css/index2.css" />
    <script defer src="js/index2.js"></script>
  </head>
  <body>
    <!-- <div class="black"></div> -->
    <!-- <img src="Images/index3.png" alt="" class="indexBckg"> -->
    <div class="main spacer layer1" id="mainBg">
      <div class="buttons">
        <a href="/users=register">
        <button class="signUp" id="log1">
          Get Started <img src="Images/Arrow2.png" alt="" id="arrow" />
        </button>
      </a>
        <a href="/users=login"><button class="signUp" id="log2">Login  </button></a>
      </div>
      <div class="name" id="name1">FoodShades</div>
      <div class="name" id="name2">Get served as an Emperor</div>
    </div>

    <div class="options">
      <a href="/users=login">
      <div class="cont1">
        <img src="Images/Food2.png" alt="" class="box1" />
        <div class="info1" id="info1a" href="#">
          <a href="/users=login"> Hungry? </a>
        </div>
        <div class="info2" id="info1a">
          <a href="/users=login"> Order Now </a>
        </div>
      </div>
    </a>
    <a href="/resAuth">
      <div class="cont2">
        <img src="Images/restaurant3.png" alt="" class="box2" />
        <div class="info1">
          <a href="/resAuth" id="info1b" class="info1">Your restaurant, delivered</a>
        </div>
        <div class="info2" id="info1b">
          <a href="/resAuth"> Add your restaurant </a>
        </div>
      </div>
    </div>
  </a>
    <div class="footer">
      <div class="content">
        <div class="company">
          <h1>Support</h1>
          <p>Who are we</p>
          <p>Careers</p>
          <p>Team</p>
          <p>Report Fraud</p>
        </div>
        <div class="legal">
          <h1>Legal</h1>
          <p>Terms & Conditions</p>
          <p>Refund & Cancellation</p>
          <p>Privacy Policy</p>
          <p>Offer Terms</p>
        </div>
        <div class="support">
          <h1>Support</h1>
          <p>help@foodshades.abc</p>
          <p>(+91) 1234567890</p>
          <p>(+91) 1234567891</p>
        </div>
        <a class="nameFooter" href="#mainBg">FoodShades</a>
        <div class="icons">
          <img src="Images/facebook.svg" alt="" class="mediaHandle facebook" data-name = 'facebook'/>
          <img src="Images/linkedin.svg" alt="" class="mediaHandle linkedin" data-name = 'linkedin'/>
          <img src="Images/instagram.svg" alt="" data-name = 'instagram' class="mediaHandle instagram" />
        </div>
      </div>
    </div>
  </body>
</html>
