body{
  font-family: "Poppins"
}
:root {
    --overlayHeight: 100vh
}

.dishRestDisplayCont {
  background-color: rgba(234, 234, 234, 0.5);
  display: flex;
  flex-direction: row;
}

.dishDetailsRest {
  width: 94.3%;
  /* height: 100vh; */
  background-color: white;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding-bottom: 10rem;
}

.existingDishesHeading {
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: space-between;
  border-bottom-style: solid;
  border-width: 1.5px;
  padding-bottom: 2rem;
  border-color: rgba(200, 200, 200, 1);
  margin-top: 6rem;
  margin-left: 15rem;
  margin-bottom: 2rem;
}

.selectedHeading {
  font-size: 2.3rem;
  font-weight: 500;
  position: relative;
  top: 0.8rem;
}

.addDish {
  background-color: white;
  border-color: rgba(140, 140, 140, 0.8);
  color: rgb(81, 81, 81);
  border-style: solid;
  padding: 1.2rem 2.2rem;
}

.dishDisplayRest {
  display: flex;
  flex-direction: row;
  margin-top: 6rem;
  margin-left: 40rem;
  width: 62rem;
  justify-content: space-between;
  border-bottom-style: solid;
  border-width: 1.5px;
  padding-bottom: 3rem;
  border-color: rgba(200, 200, 200, 1);
}

.dishDisplayNameRest {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.dishDisplayPriceRest {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.dishDescriptionRest {
  width: 42rem;
  
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.dishDetailsDescriptionRest2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#dishDescriptionImg {
  width: 11rem;
  height: 13vh;

}

.editDish {
  position: relative;
  top: 1rem;
  font-weight: 500;
  /* border-radius: 1rem; */
  font-family: "Poppins";
  /* width: 8rem; */
  /* height: 3rem; */
  background-color: white;
  border-color: rgba(0, 0, 0, 0.5);
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.8);
  border-style: solid;
  border-width: 1.3px;
  padding: 1rem 2rem;
}

.modalWindowEditRest {
  position: fixed;
  width: 50%;
  height: 95%;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalHeader {
    margin-bottom: 0.5rem;
}

.modalClosebtn {

    position: relative;
    left: 34rem;
    top: 1.5rem;
    background-color: white;
    border: none;
}

.modalCloseImg {
    width: 3.5rem;
}

.modalEditDetails {
    margin-top: 0rem;
}

.modalEditHeading {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
}

.modalEditInput {
    width: 45rem;
    height: 2.5rem;
    padding: 1rem 2rem;
}

.priceCategoryModal {
    display: flex;
    flex-direction: row;
    width: 49rem;
    justify-content: space-between;
}

.modalEditInputShort {
    width: 17rem;
    height: 2.5rem;
    padding: 1rem 2rem;
}

.modalEditInputArea {
    width: 45rem;
    height: 7rem;
    font-family: 'Poppins';
    padding: 1rem 2rem;
}

.dishEditSubmitBtn {
  margin-top: 3rem;
  width:20rem;
  height: 55px;
  border-style: solid;
  background-color: rgb(31, 31, 31);
  border-radius: 0.5em;
  color: white;
  font-weight: 500;
  font-size: 1.5em;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--overlayHeight);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  z-index: 1;
}

.hidden {
    display: none;
}
#category {
    width: 17rem;
    padding: 1.5rem 2rem;
}