<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FoodShades</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="css/style2.css" />
  <link rel="stylesheet" href="css/style8.css" />
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <script defer src="js/orderPlaced.js"> </script>
  <script defer src="js/geolocation.js"> </script>
  <script defer src="js/homepage.js"> </script>
  <link rel="stylesheet" href="css/footer.css" />
    <script defer src="js/footer.js"></script>
</head>

<body>

    <div class="navbar">
      <a href="/home"><div class="name">FoodShades</div></a>
      <div class="navContents">
        <div class="homepageLocationSearch">
          <div class="location">
            <img src="Images/location.png" alt="Location" class="imgLocation" />
            <div class="address">Building, City</div>
          </div>
          <!-- <input type="text" name="searchBar" placeholder="Search Restaurant" class="homepageSearchBar"> -->
          
        </div>
        <div class="homepageNavIcons">
          <a href="/pastOrders"><div class="homePagePastOrders iconNameDiv">
            <img
              src="Images/pastOrder.svg"
              alt="Past Orders"
              data-name="pastOrder"
              class="homePagePastOrdersImg"
            />
            <div class="homePagePastOrderName">Past Orders</div>
          </div>
      </a>
         <a href="/useraccount"> <div class="homepageAccount iconNameDiv">
            <img
              src="Images/account.svg"
              alt="Account"
              class="homepageAccountImg"
              data-name="account"
            />
            <div class="homepageAccountName">Account</div>
          </div>
      </a>
      <a href="/users/logout">
          <div class="homepageLogOut iconNameDiv">
            <img
              src="Images/logOut.svg"
              alt="Log Out"
              class="homepageLogOutImg"
              data-name="logOut"
            />
            <div class="homepageLogOutName">Log Out</div>
          </div>
      </a>
        </div>
      </div>
    </div>
  <div class="orderDetailsCont">
    <div class="orderDetailsDisplay">
      <div class="orderedDishesHeading">
        <div class="selectedHeadingOrdered">Order Details</div>
      </div>
      <div class="dishesOrderDetails">
        <div class="dishesOrderDetailsHeading">Dishes Ordered</div>

        <div class="orderedDishesInfo">
          {%dishesordered%}
        </div>
      </div>
    </div>
    <div class="billDetailsRating">
      <div class="priceSummary">
        <div class="orderedPriceSummaryHeading">Bill Details</div>
        <div class="perDishPriceDetails">
          {%billdetailscart%}
        </div>
        <div class="orderedPriceSummaryIndvSubtotal">
          <div class="orderedPriceSubtotal">Subtotal</div>
          <div class="orderedPriceSubtotalPrice">{%subtotal%}</div>
        </div>
        <div class="orderedPriceSummaryIndvTotal">
          <div class="orderedPriceTotal">Total</div>
          <div class="orderedPriceTotalPrice">{%total%}</div>
          <input type="text" value="{%res-name%}" class="resname" id="resname" hidden>
        </div>
      </div>

      <div class="ratingOrderPlaced">
        <div class="borderContRating">
          <div class="orderedRatingSummaryHeading">Rate Your Order</div>
          <div class="ratingImg">
            <button class="ratingBtn" data-postn="1">
              <img src="Images/star.svg" alt="" class="ratingImgStar ratingBtn1" />
            </button>
            <button class="ratingBtn" data-postn="2">
              <img src="Images/star.svg" alt="" class="ratingImgStar ratingBtn2" />
            </button>
            <button class="ratingBtn" data-postn="3">
              <img src="Images/star.svg" alt="" class="ratingImgStar ratingBtn3" />
            </button>
            <button class="ratingBtn" data-postn="4">
              <img src="Images/star.svg" alt="" class="ratingImgStar ratingBtn4" />
            </button>
            <button class="ratingBtn" data-postn="5">
              <img src="Images/star.svg" alt="" class="ratingImgStar ratingBtn5" />
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
      <div class="content">
        <div class="company">
          <h1 class = 'footerHeading'>Support</h1>
          <p class = 'footerPara'>Who are we</p>
          <p class = 'footerPara'>Careers</p>
          <p class = 'footerPara'>Team</p>
          <p class = 'footerPara'>Report Fraud</p>
        </div>
        <div class="legal">
          <h1 class = 'footerHeading'>Legal</h1>
          <p class = 'footerPara'>Terms & Conditions</p>
          <p class = 'footerPara'>Refund & Cancellation</p>
          <p class = 'footerPara'>Privacy Policy</p>
          <p class = 'footerPara'>Offer Terms</p>
        </div>
        <div class="support">
          <h1 class = 'footerHeading'>Support</h1>
          <p class = 'footerPara'>help@foodshades.abc</p>
          <p class = 'footerPara'>(+91) 1234567890</p>
          <p class = 'footerPara'>(+91) 1234567891</p>
        </div>
        <a class="nameFooter" href="#">FoodShades</a>
        <div class="icons">
          <img src="Images/facebook.svg" alt="" class="mediaHandle facebook" data-name = 'facebook'/>
          <img src="Images/linkedin.svg" alt="" class="mediaHandle linkedin" data-name = 'linkedin'/>
          <img src="Images/instagram.svg" alt="" data-name = 'instagram' class="mediaHandle instagram" />
        </div>
      </div>
    </div>
</body>

</html>