<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FoodShades</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Poppins:wght@400;600&display=swap"
    rel="stylesheet" />
  <script defer src="restaurantOwner.js"></script>
  <link rel="stylesheet" href="style1.css" />
  <link rel="stylesheet" href="style2.css" />
  <link rel="stylesheet" href="style3.css" />
  <link rel="stylesheet" href="style7.css" />
</head>
<script src="geolocation.js"></script>
<script src="homepage.js"></script>


<body>
  <!-- NavBar -->
  
  <div class="navbar">
    <a href="/home"><div class="name">FoodShades</div></a>
    <div class="navContents">
      <div class="homepageLocationSearch">
        <div class="location">
          <img src="Images/location.png" alt="Location" class="imgLocation" />
          <div class="address">Building, City</div>
        </div>
        <!-- <input type="text" name="searchBar" placeholder="Search Restaurant" class="homepageSearchBar"> -->
        
      </div>
      <div class="homepageNavIcons">
        <a href="/pastOrders"><div class="homePagePastOrders iconNameDiv">
          <img
            src="Images/pastOrder.svg"
            alt="Past Orders"
            data-name="pastOrder"
            class="homePagePastOrdersImg"
          />
          <div class="homePagePastOrderName">Past Orders</div>
        </div>
    </a>
       <a href="/useraccount"> <div class="homepageAccount iconNameDiv">
          <img
            src="Images/account.svg"
            alt="Account"
            class="homepageAccountImg"
            data-name="account"
          />
          <div class="homepageAccountName">Account</div>
        </div>
    </a>
    <a href="/users/logout">
        <div class="homepageLogOut iconNameDiv">
          <img
            src="Images/logOut.svg"
            alt="Log Out"
            class="homepageLogOutImg"
            data-name="logOut"
          />
          <div class="homepageLogOutName">Log Out</div>
        </div>
    </a>
      </div>
    </div>
  </div>

  <!-- Modal Window -->
  <div class="modalWindowEditRest hidden">
    <div class="modalHeader">
      <button class="modalClosebtn">
        <img src="Images/close.png" alt="" class="modalCloseImg" />
      </button>
    </div>
    <div class="dishNameModal modalEditDetails">
      <div class="modalEditHeading">Dish Name</div>
      <input type="text" name="" id="" class="modalEditInput" placeholder="Enter Dish Name" />
      <div class="modalEditHeading">Image Link</div>
      <input type="text" name="" id="" class="modalEditInput" placeholder="Enter Image Link" />
      <div class="priceCategoryModal">
        <div>
          <div class="modalEditHeading">Price</div>
          <input type="text" name="" id="" class="modalEditInputShort" placeholder="Enter Price" />
        </div>
        <div>
          <div class="modalEditHeading">Category</div>
          <input type="text" name="" id="" class="modalEditInputShort" placeholder="Veg / Non-Veg" />
        </div>
      </div>
      <div class="modalEditHeading">Dish Description</div>
      <textarea name="" id="" cols="30" rows="10" class="modalEditInputArea"
        placeholder="Enter Dish Description"></textarea>
    </div>
    <button class="dishEditSubmitBtn">Update</button>
  </div>

  <!-- Restaurant Info Banner -->
  <div class="restContainer">
    <div class="details">
      <img src="Images/pizza.jpg" alt="" class="rest" />
      <div class="restDetails">
        <div class="restName">Restaurant</div>
        <div class="restOtherDetails">Type</div>
        <div class="restOtherDetails">Location, Gwalior</div>
        <div class="rating">
          <div class="restOtherDetails3">
            <div class="restOtherDetails" id="rating1">X</div>
            <div class="restOtherDetails" id="rating1">Y</div>
          </div>
          <div class="restOtherDetails2">
            <div class="restOtherDetails2">Rating</div>
            <div class="restOtherDetails2">Delivery Time</div>
          </div>
        </div>
      </div>
      <div class="offers">
        <h1 class="offers">Offers</h1>
        <p class="offers">Lorem ipsum dolor sit</p>
        <p class="offers">Lorem ipsum dolor sit</p>
        <p class="offers">Lorem ipsum dolor sit</p>
      </div>
    </div>
  </div>

  <!-- Dishes -->
  <div class="dishRestDisplayCont">
    <div class="dishDetailsRest">
      <div class="existingDishesHeading">
        <div class="selectedHeading">Existing Dishes</div>
        <button class="addDish">Add Dish</button>
      </div>

      <div class="restDishesInfo">
        <div class="dishDisplayRest">
          <div class="dishDetailsDescriptionRest">
            <div class="dishDisplayNameRest">Dish Name</div>
            <div class="dishDisplayPriceRest">Price</div>
            <div class="dishDescriptionRest">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
              sint aspernatur qui repellendus libero eligendi quo aut incidunt
              atque veniam!
            </div>
          </div>
          <div>
            <img src="Images/veg.png" alt="" class="vegRest" />
          </div>
          <div class="dishDetailsDescriptionRest2">
            <img src="Images/dish1.png" alt="" id="dishDescriptionImg" />
            <button class="editDish">Edit Dish</button>
          </div>
        </div>
        <div class="dishDisplayRest">
          <div class="dishDetailsDescriptionRest">
            <div class="dishDisplayNameRest">Dish Name</div>
            <div class="dishDisplayPriceRest">Price</div>
            <div class="dishDescriptionRest">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
              sint aspernatur qui repellendus libero eligendi quo aut incidunt
              atque veniam!
            </div>
          </div>
          <div>
            <img src="Images/veg.png" alt="" class="vegRest" />
          </div>
          <div class="dishDetailsDescriptionRest2">
            <img src="Images/dish1.png" alt="" id="dishDescriptionImg" />
            <button class="editDish">Edit Dish</button>
          </div>
        </div>
        <div class="dishDisplayRest">
          <div class="dishDetailsDescriptionRest">
            <div class="dishDisplayNameRest">Dish Name</div>
            <div class="dishDisplayPriceRest">Price</div>
            <div class="dishDescriptionRest">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
              sint aspernatur qui repellendus libero eligendi quo aut incidunt
              atque veniam!
            </div>
          </div>
          <div>
            <img src="Images/veg.png" alt="" class="vegRest" />
          </div>
          <div class="dishDetailsDescriptionRest2">
            <img src="Images/dish1.png" alt="" id="dishDescriptionImg" />
            <button class="editDish">Edit Dish</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="footer">
    <div class="content">
      <div class="company">
        <h1>Support</h1>
        <p>Who are we</p>
        <p>Careers</p>
        <p>Team</p>
        <p>Report Fraud</p>
      </div>
      <div class="legal">
        <h1>Legal</h1>
        <p>Terms & Conditions</p>
        <p>Refund & Cancellation</p>
        <p>Privacy Policy</p>
        <p>Offer Terms</p>
      </div>
      <div class="support">
        <h1>Support</h1>
        <p>help@foodshades.abc</p>
        <p>(+91) 1234567890</p>
        <p>(+91) 1234567891</p>
      </div>
      <a class="nameFooter" href="#mainBg">FoodShades</a>
      <div class="icons">
        <img src="Images/facebook.png" alt="" class="mediaHandle" />
        <img src="Images/linkedin.png" alt="" class="mediaHandle" />
        <img src="Images/instagram.png" alt="" class="mediaHandle" />
      </div>
    </div>
  </div>
  <div class="overlay hidden"></div>
</body>

</html>