<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
  <title>FoodShades</title>
  <link rel="stylesheet" href="style2.css">
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <script src="js/geolocation.js"></script>
  <link rel="stylesheet" href="restaurants.css">
  <script src="js/restaurants.js"></script>
  <script defer src="js/homepage.js"></script>
  <link rel="stylesheet" href="footer.css" />
    <script defer src="js/footer.js"></script>
</head>

<body>

  <div class="navbar">
    <a href="/home"><div class="name">FoodShades</div></a>
    <div class="navContents">
      <div class="homepageLocationSearch">
        <div class="location">
          <img src="Images/location.png" alt="Location" class="imgLocation" />
          <div class="address">Building, City</div>
        </div>
        <!-- <input type="text" name="searchBar" placeholder="Search Restaurant" class="homepageSearchBar"> -->
        <div class="homepageSearchBarDiv">
          <input
            type="text"
            placeholder="Search Dishes"
            class="homepageSearchBar"
            id="searchbar"
            onkeyup="searchFnc()"
          />
          <!-- <img src="Images/search.png" alt="" class="searchIcon" /> -->
          <!-- <input class="search"> -->
          <img src="Images/search.png" alt="" class="searchIcon" />
        </div>
      </div>
      <div class="homepageNavIcons">
        <a href="/pastOrders"><div class="homePagePastOrders iconNameDiv">
          <img
            src="Images/pastOrder.svg"
            alt="Past Orders"
            data-name="pastOrder"
            class="homePagePastOrdersImg"
          />
          <div class="homePagePastOrderName">Past Orders</div>
        </div>
    </a>
       <a href="/useraccount"> <div class="homepageAccount iconNameDiv">
          <img
            src="Images/account.svg"
            alt="Account"
            class="homepageAccountImg"
            data-name="account"
          />
          <div class="homepageAccountName">Account</div>
        </div>
    </a>
    <a href="/users/logout">
        <div class="homepageLogOut iconNameDiv">
          <img
            src="Images/logOut.svg"
            alt="Log Out"
            class="homepageLogOutImg"
            data-name="logOut"
          />
          <div class="homepageLogOutName">Log Out</div>
        </div>
    </a>
      </div>
    </div>
  </div>
  <div class="restContainer">
    <div class="details">
      <img src="{%res-imglink%}" alt="" class="rest" />
      <div class="restDetails">
        <div class="restName">{%res-name%}</div>
        <div class="restOtherDetails">{%res-type%}</div>
        <div class="restOtherDetails">{%res-location%}</div>
        <div class="restOtherDetails">{%res-rating%}🌟</div>
        <div class="restOtherDetails">{%res-deltime%}MINS</div>
      </div>
      <div class="offers">
        <h1 class="offers">Offers</h1>
        <p class="offers">Lorem ipsum dolor sit</p>
        <p class="offers">Lorem ipsum dolor sit</p>
        <p class="offers">Lorem ipsum dolor sit</p>
  
      </div>
    </div>
  </div>

  <div class="restDishCartCont">

  <div class="dishes-container">
    {%dishes%}
  </div>
  <section class="cartContainer content-section">
    <h2 class="section-header"></h2>
    <div class="cart-row">
      <span class="cart-item cart-header cart-column">ITEM</span>
      <span class="cart-price cart-header cart-column">PRICE</span>
      <span class="cart-quantity cart-header cart-column">QUANTITY</span>
    </div>
    <div class="cart-items">
    </div>
    <div class="cart-total">
      <strong class="cart-total-title">Subtotal</strong>
      <span class="cart-total-price">₹0</span>
    </div>
    <!-- <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button> -->
    <button class="placeOrder btn-purchase" type="button">Place Order</button>
    <a href="/orderDetails" class="orderDetails" style="display: none;">Order Details</a>
    
  </section>
  </div>

  <div class="footer">
      <div class="content">
        <div class="company">
          <h1 class = 'footerHeading'>Support</h1>
          <p class = 'footerPara'>Who are we</p>
          <p class = 'footerPara'>Careers</p>
          <p class = 'footerPara'>Team</p>
          <p class = 'footerPara'>Report Fraud</p>
        </div>
        <div class="legal">
          <h1 class = 'footerHeading'>Legal</h1>
          <p class = 'footerPara'>Terms & Conditions</p>
          <p class = 'footerPara'>Refund & Cancellation</p>
          <p class = 'footerPara'>Privacy Policy</p>
          <p class = 'footerPara'>Offer Terms</p>
        </div>
        <div class="support">
          <h1 class = 'footerHeading'>Support</h1>
          <p class = 'footerPara'>help@foodshades.abc</p>
          <p class = 'footerPara'>(+91) 1234567890</p>
          <p class = 'footerPara'>(+91) 1234567891</p>
        </div>
        <a class="nameFooter" href="#">FoodShades</a>
        <div class="icons">
          <img src="Images/facebook.svg" alt="" class="mediaHandle facebook" data-name = 'facebook'/>
          <img src="Images/linkedin.svg" alt="" class="mediaHandle linkedin" data-name = 'linkedin'/>
          <img src="Images/instagram.svg" alt="" data-name = 'instagram' class="mediaHandle instagram" />
        </div>
      </div>
    </div>
</body>

</html>