<div class="dishDisplayRest">
    <div class="dishDetailsDescriptionRest">
        <div class="dishDisplayNameRest">{%dish-name%}</div>
        <div class="dishDisplayPriceRest">{%dish-price%}</div>
        <div class="dishDescriptionRest">
            {%dish-desc%}
        </div>
    </div>
    <div>
        <img src="Images/veg.png" alt="" class="veg" style="display: none;" />
    <img src="Images/non-veg.png" alt="" class="nonveg" style="display: none;" />
    </div>
    <div class="dishDetailsDescriptionRest2">
        <img src="{%dish-imglink%}" alt="" id="dishDescriptionImg" class="dishDescriptionImg" />
        <button class="editDish">Edit Dish</button>
    </div>
</div>