
                <div class="dishDisplay">
                    <div class="dishDetailsDescription">
                        <div class="dishDisplayName shop-item-title">{%dish-name%}</div>
                        <div class="dishDisplayPrice shop-item-price">₹{%dish-price%}</div>
                        <div class="dishDescription">
                            {%dish-desc%}
                        </div>
                    </div>
                    <div>
                        <img src="Images/veg.png" alt="Veg" class="veg" style="display: none;"/>
                        <img src="Images/non-veg.png" alt="nonVeg" class="nonveg" style="display: none;"/>
                    </div>
                    <div class="dishDetailsDescription2 ">
                        <img src="{%dish-imglink%}" alt="" id="dishDescriptionImg" class="shop-item-image " />
                        <button class="addToCart shop-item-button">Add To Cart</button>
                    </div>
                </div>
        