<div class="pastOrderOrder1">
    <div class="pastOrderImgPrice">
      <img src="{%res-img%}" alt="" class="pastOrder1Img" />
      <div class="pastOrder1Price">Total Bill: {%totprice%}</div>
    </div>
    <div class="restNameOrderedDateDishes">
      <div class="restNameOrderedDate">
        <div class="pastOrderRestDetails">
          <div class="pastOrderRestName">{%res-name%}</div>
          <div class="pastOrderRestLocation">{%location%}</div>
          <!-- <div class="pastOrderRestType">Type</div> -->
        </div>
        <div class="pastOrderDate">
          {%order-date%}
        </div>
      </div>
      <div class="pastOrderDishesOrdered">
        {%dishes%}
      </div>
    </div>
  </div>