
    <figure class="res-card">
        <a class="res-card-link" href="/Restaurants?rname={%res-name%}">
        <div class="res-img">
            <img src="{%res-imglink%}" alt="">

        </div>
        <div class="res-desc">
            <div class="res-name">
                {%res-name%}
            </div>
            <div class="res-type">
                {%res-type%}
            </div>
        </div>
        <div class="res-footer">
            <div class="res-rating">
                {%res-rating%}🌟
            </div>
            <div class="res-deltime">
                {%res-deltime%} MINS
            </div>
            <div class="res-category">

                <span style="color:green;padding:0 .3em">&#9679;&#8414;</span>
                <span style="color:rgb(226, 10, 10);padding:0 .3em">&#9679;&#8414;</span>

            </div>

        </div>
    </a>
    </figure>
